body {
  background-color: goldenrod;
}

.main {
  background-color: honeydew;
  border: 5px solid rgb(21, 197, 109);
  margin: 10px;
  padding: 10px;
  filter: drop-shadow(0 0 5px black);
  border-radius: 20px;
}
